{% if request.path contains '/pages/store-locator' or page.id == 96324845787 %}
            <p><span style="font-size: 14pt;">Are you still on the fence about whether the bike does right meet your personal needs? Come visit a brick-and-mortar store! There you can find Heybike e-bikes and the Test Ride service is now available. You can buy it directly if you are satisfied with the bike. E-bike purchased from these offline channels is also covered by Heybike's warranty.</span></p>
<p><span style="font-size: 14pt;">Notice: please contact us or call the offline shop to ask if the model you would like is available.</span></p>
            <style>
            iframe[allowfullscreen="allowfullscreen"] {
                max-width: 100%;
            }
            </style>
            {% endif %}