<style>
    .banner_Registration{
        width: 100%;
    }
    .banner_Registration img{
      max-width: 100%;
      width: 100%;
      height: auto;
    }
    .Registration_mobile{
        display: none;
    }
    .Registration_desktop{
        display: block;
    }
 @media (max-width:767px) {
    .Registration_mobile{
        display: block;
    }
    .Registration_desktop{
        display: none;
    }
    
 }
</style>
<section class="Bike_Registration">
    <div class="banner_Registration">
        <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt }}" data-sizes="auto" class="Registration_desktop">
        <img src="{{ section.settings.image_mobile | img_url: 'master' }}" alt="{{ section.settings.image_mobile.alt }}" data-sizes="auto" class="Registration_mobile">
    </div>
</section> 
{% schema %}
{
  "name":"Bike Registration",
  "settings":[
    {
      "type":"image_picker",
      "id":"image",
      "label":"banner_desktop"
    },
    {
      "type":"image_picker",
      "id":"image_mobile",
      "label":"banner_mobile"
    }
  ],
  "presets": [
    {
      "name": "Bike Registration"
    }
  ]
}
{% endschema %}
