    {% capture boostersnippet %}{% include "booster-apps-common" %}{% endcapture %}{% unless boostersnippet contains "Liquid error" %}{{ boostersnippet }}{% endunless %}
<div id="rivo-page-wrapper" style="min-height:800px;"></div>

{% schema %}
  {
    "name": "Rivo loyalty",
    "settings": [],
    "presets": [{
      "name": "Rivo loyalty"
    }]
  }
{% endschema %}
